<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if code %}
    <p>A password change request has been made by your account</p>
    <p>Ignore the mail and do not share the code if not requested by you.</p>
    <p>Secret code to change the password:-</p>
    <h2 style="font-size:60px;line-height:1em;margin-top:15px;margin-bottom:0;font-weight:300;color:#5596e6">{{code}}</h2>
    {% elif %}
    <p>Please click on the link below to update your info</p>
    <h3>https://bmsce-ise-proc.herokuapp.com/Recordupdateform/{{stu}}/{{id}}</h3>
    {% endif %}
</body>
</html>